source_up .envrc || true

# Server configuration
export HOST=localhost
export PORT=4000
export SECRET_KEY_BASE=kt8s9I1RiqB2pM6wz2Kym18s/rGQ7K2fNO6e7F6yKl2l0m6WpKzzCWRSc/Bl7JZx
export LIVE_VIEW_SALT=ep6HsSFN

# Database configuration
export DATABASE_URL=postgres://postgres:development@localhost/paper_dev
export DATABASE_POOL_SIZE=20

# Authentication
export GOOGLE_CLIENT_ID=355918745340-lnjlms34jbb827f7n32t20dhkjgu3h71.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=OcLMq43OBq9s9gJxtUKWfUc0
export GUARDIAN_SECRET_KEY=tp3WB4TcxP5wwsKLF9k0cDr7BWkqSq5Qqtek+0qB0zYi1iW4MgflWVCGrwG9CcG2
