<%= component "page_header.html", title: "Users" %>

<div class="container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <%= for user <- @records do %>
        <tr>
          <td><%= user.email %></td>
          <td><%= full_name(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render(TableView, "pagination.html", pagination: @pagination) %>
</div>
